<section class="about" id="about">
    <div class="about-img">
        <img src="/images/about.png" alt="About image">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>FullStack Developer</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum minus quaerat architecto.
            Temporibus
            deserunt vero provident minima, a eum ut possimus ullam explicabo fugit! Necessitatibus animi maxime
            similique tempora dignissimos deserunt, illum quas, quos sunt aut inventore enim nostrum incidunt ad
            rem
            vero, illo mollitia quod.</p>
        <a href="#" class="btn">Read more</a>
    </div>
</section>