<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Louis Bertson</h1>
        <h3>And I'm a <span class="multiple-text"></span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores corrupti iste
            ipsam voluptatibus cupiditate similique fugiat natus consequatur, et perferendis nam incidunt,
            vel libero veritatis! Numquam facilis in rerum delectus?</p>
        <div class="social-media">
            <a href="#"><i class="ti ti-facebook"></i></a>
            <a href="#"><i class="ti ti-twitter"></i></a>
            <a href="#"><i class="ti ti-instagram"></i></a>
            <a href="#"><i class="ti ti-linkedin"></i></a>
        </div>
        <a href="#" id="" class="btn">Download CV</a>
    </div>

    <div class="home-img">
        <img src="/images/home.png" alt="">
    </div>
</section>
