<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="services-box">
            <i class="ti ti-code"></i>
            <h3>Web development</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi vitae nostrum, odit modi
                eaque
                enim officia reiciendis impedit molestiae. Animi.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>
        <div class="services-box">
            <i class="ti ti-paint-brush"></i>
            <h3>Graphic design</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi vitae nostrum, odit modi
                eaque
                enim officia reiciendis impedit molestiae. Animi.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>
        <div class="services-box">
            <i class="ti ti-chart-bar"></i>
            <h3>Digital marketing</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi vitae nostrum, odit modi
                eaque
                enim officia reiciendis impedit molestiae. Animi.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>
        <div class="services-box">
            <i class="ti ti-robot"></i>
            <h3>IoT</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi vitae nostrum, odit modi
                eaque
                enim officia reiciendis impedit molestiae. Animi.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>
    </div>
</section>
